meta(name="viewport" width="960")
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css')
link(href="css/style.css" rel="stylesheet" type="text/css")
script(src="js/jquery-1.11.2.min.js")
script(src="js/Vague/Vague.js")
script(src="js/init.js")
