.feed {

    &__item {
        position: relative;

        & + & {
            margin-top: 18px;
        }
    }

    &__img-h {
        margin-left: -10px;
        background: #fff;
        border-radius: 7px;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        padding: 10px;
        width: 554px;
        height: 354px;
    }

    &__img-link {

    }

    &__img {
        max-width: 100%;
    }

    &__content {
        position: absolute;
        left: 475px;
        right: 0px;
        height: 294px;
        top: 40px;
        box-sizing: border-box;
        padding: 32px 42px 20px;
        background: rgba(255,255,255,0.7);

        &._bg-0 {
            background: url('../images/content-bg-0.png') no-repeat;
        }
    }

    &__title {
        position: relative;
        font-size: 24px;
        line-height: 28px;
        color: #505050;
        font-weight: bold;
        padding-bottom: 30px;
        margin-bottom: 24px;

        &:after {
            position: absolute;
            content: '';
            height: 1px;
            bottom: -1px;
            left: 0;
            right: 0;
            background: url('../images/line.png') no-repeat left;
        }
    }

    &__text {
        color: #646464;
        font-size: 15px;
        line-height: 30px;
    }
}
